*{
    margin: 0;
    
}

body{
  background-image: url(fundo.img.gui.jpg);
    
}

div#caixa{
    background: rgb(105, 82, 18);
    padding: 30px;
   
}

div#topo{
   padding:80px ;
   top: 50%;
   left: 50%;
   background-image: linear-gradient(rgb(58, 58, 6), rgb(52, 45, 3));
   position: absolute;
   transform: translate(-50%,-50%);
   border-radius: 50px;
   
}

h1{
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;

}



a{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(229, 255, 0);
    border: none;

}

h2{
    text-align: center;
    color: azure;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: -55px;
}

input{
    padding: 15px;
    border: none;
    outline: none;
}
 button{
    background-color: blue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: antiquewhite;

 }
 button:hover{
    background-color: rgb(0, 81, 255);


 }


